body {
    font-family: 'Miltonian Tattoo', cursive;
}
#wrapper {
    height: 700px;
    width: 100%;
    background-image: url("https://i.imgur.com/mqQ0cvZ.png");
    background-repeat: no-repeat;
    background-color: black;
    color:white;
    
}
#begin {
    padding: 15px;
    font-family: 'Miltonian Tattoo', cursive;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}
footer {
    width: 100%;
    height: 10%;
    background-color: red;
}
.playerBox {
    position:relative;
    text-align: center;
    padding: 15px;
    height: 250px;
    width: 175px;
    border: solid, 5px, black;
    background-color: transparent;
    float: left;
    margin: 25px;
    display: none;
    
}
#attk {
    color: #fff;
    font-family: 'Miltonian Tattoo', cursive;
    padding: 10px;
    align-content: center;
    clear : both;
    font-size: 25px;
    display: none;
    background-color: #666;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
#direction {
    display: none;
    font-size: 45px;
    text-align: center;
}
#welcome {
    font-size: 35px;
    text-align: center;
    background-color: #666;
    padding: 15px;
    
}
#p1 {
    position: relative;
    top: -25px;
    font-size: 23px;
    z-index: 0;
    color: #8E16FF;
    
}
#p2 {
    position: relative;
    top: -50px;
    font-size: 25px;
    z-index: 0;
    color: red;
}
#p3 {
    position: relative;
    top: -49px;
    font-size: 23px;
    z-index: 0;
    color: #3A58B6;
    
}
#p4 {
   position: relative;
    top: -49px;
    font-size: 23px;
    z-index: 0;
    color: #BFC1C8;
}
.outline {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.charButton {
    font-family: 'Miltonian Tattoo', cursive;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #666;
    border: none;
}
#dmBio {
    margin-top: 30px;
    color: #8E16FF;
}
#dmSelect {
    margin-top: 30px;
    color: #8E16FF;
}
#merlinBio {
    color: red;
}
#merlinSelect {
    color: red;
}
#yenBio {
    color: #3A58B6;
}
#yenSelect {
    color: #3A58B6;
}
#jarethBio {
    color: #BFC1C8;
}
#jarethSelect {
    color: #BFC1C8;
}
#player {
    clear: right;
    margin-left: 50px;
    
}
#playerHP {
    height: 15px;
    width: 66px;
    margin-left: 105px;
}
#playerTag{
    font-size: 50px;
    padding: 5px;
    display: none;
    margin-left: 50px;
}
#defender {
     margin-left: 50px; 
}
#defenderHP {
    height: 15px;
    width: 66px;
    margin-left: 105px;
}
#opponents {
    float:right;
    margin-top: -315px;
    margin-right: 250px;
}
#opTag {
    font-size: 50px;
    padding: 5px;
    display: none;
}
#opponent1 {
    float:left;
    padding: 5px;
    /* display: none; */
}
#opponent2 {
    float:left;
    padding: 5px;
    /* display: none; */
}
#opponent3 {
    float:left;
    padding: 5px;
    /* display: none; */
}
 #remaining1 {
     float: right; 
     margin-top: -595px;
     margin-right: 195px;
} 
 #remaining2 {
    float: right;
    margin-top: -595px;
    margin-right: 425px;
}
#rem1Select {
    font-family: 'Miltonian Tattoo', cursive;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #666;
    border: none;
    float: left;
    margin-top: 254px;
    margin-right: -95px;
}
#rem2Select {
    font-family: 'Miltonian Tattoo', cursive;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #666;
    border: none;
    float: left;
    margin-top: 254px;
    margin-right: -95px;
}
#op1Select {
    font-family: 'Miltonian Tattoo', cursive;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #666;
    border: none;
    float: left;
    margin-top: 254px;
    margin-right: -95px;
}
#op2Select {
    font-family: 'Miltonian Tattoo', cursive;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #666;
    border: none;
    float: left;
    margin-top: 253px;
    margin-left: auto;
    margin-right: -97px;
}
#op3Select {
    font-family: 'Miltonian Tattoo', cursive;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #666;
    border: none;
    float: left;
    margin-top: 256px;
    margin-right: -93px;
}